.footer_child p:first-child{
    text-align: center;
    font-weight: 700;
}

.item{
    text-align: center;
}

.item span{
    border-right: 2px solid #ee4946;
    margin-right: 5px;
    padding-right: 5px;
}

.item span:last-child{
    border-right: none;
}

.footer_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background-color: #ee4946;
}

.footer_bottom div>img {
    width: 40px;
}

.footer_bottom div a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:770px) {

    .footer_child p:first-child {
        margin-bottom: 10px; 
      }
    
      .footer_bottom {
        flex-direction: column;
        justify-content: center;
        height: auto; 
        padding: 20px 0;
      }
    
      .footer_bottom div {
        margin-bottom: 10px;
        text-align: center;
      }
    
      .footer_bottom div > img {
        width: 30px; 
        margin-bottom: 5px; 
      }
}